<div class="content">
    <div class="card">
        <div class="card-header">
            <h5><a routerLink="/admin">Ana Ekran</a>-----Seyahat Türü Seçenekleri Güncelle</h5>
        </div>
        <div class="card-body">
            <form class="" [formGroup]="tripStateUpdateForm" *ngIf="tripState">
                <div class=" col-md-8 alert">
                    <div class="row mb-3">
                        <div class="col-auto ">
                            <label for="stateName">Seyahat Türü Adı</label>
                            <div class="form-group"><input type="text" id="stateName" formControlName="stateName" class="form-control"
                                    placeholder="Seyahat Türü Adı" />
                            </div>
                        </div>
                    </div>                   
                    <div class="mx-auto pb-auto" style="width:100px;">
                        <button class="btn btn-fill  btn-primary" (click)="update()">Güncelle</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>