<div class="content">
    <div class="row mt-5">   
        <div class="card" style="width: 14rem; border-color: darkorange;">
            <div class="card-body">
                <h5 class="card-title">Bilet</h5>
                <p class=""><a class="btn btn-primary" routerLink="/ticket/add">Ekle</a></p>
                <p><a class="btn btn-primary" routerLink="/ticket/list" >Listele</a></p>
            </div>
        </div>        
        <div class="card" style="width: 14rem; border-color: darkorange;">
            <div class="card-body">
                <h5 class="card-title">Seyahat</h5>
                <p class=""><a class="btn btn-primary" routerLink="/trip/add">Ekle</a></p>
                <p><a class="btn btn-primary" routerLink="/trip/list">Listele</a></p>
            </div>
        </div>    
        <div class="card" style="width: 14rem; border-color: darkorange;">
            <div class="card-body">
                <h5 class="card-title">Rota</h5>
                <p class=""><a class="btn btn-primary" routerLink="/route/add">Ekle</a></p>
                <p><a class="btn btn-primary" routerLink="/route/list" >Listele</a></p>
            </div>
        </div>
        <div class="card" style="width: 14rem; border-color: darkorange;">
            <div class="card-body">
                <h5 class="card-title">Şehir</h5>
                <p class=""><a class="btn btn-primary" routerLink="/city/add">Ekle</a></p>
                <p><a class="btn btn-primary" routerLink="/city/list">Listele</a></p>
            </div>
        </div>
        <div class="card" style="width: 14rem; border-color: darkorange;">
            <div class="card-body">
                <h5 class="card-title">İlçe</h5>
                <p class=""><a class="btn btn-primary" routerLink="/town/add">Ekle</a></p>
                <p><a class="btn btn-primary" routerLink="/town/list" >Listele</a></p>
            </div>
        </div>     
        <div class="card" style="width: 14rem; border-color: darkorange;">
            <div class="card-body">
                <h5 class="card-title">Müşteri</h5>
                <p class=""><a class="btn btn-primary" routerLink="/customer/add">Ekle</a></p>
                <p><a class="btn btn-primary" routerLink="/customer/list" >Listele</a></p>
            </div>
        </div>
        <div class="card" style="width: 14rem; border-color: darkorange;">
            <div class="card-body">
                <h5 class="card-title">Kullanıcı</h5>
                <p class=""><a class="btn btn-primary" routerLink="/user/add">Ekle</a></p>
                <p><a class="btn btn-primary" routerLink="/user/list" >Listele</a></p>
            </div>
        </div> 
        <div class="card" style="width: 14rem; border-color: darkorange;">
            <div class="card-body">
                <h5 class="card-title">Kullanıcı Rolü</h5>
                <p class=""><a class="btn btn-primary" routerLink="/operationClaim/add">Ekle</a></p>
                <p><a class="btn btn-primary" routerLink="/operationClaim/list">Listele</a></p>
            </div>
        </div>
        <div class="card" style="width: 14rem; border-color: darkorange;">
            <div class="card-body">
                <h5 class="card-title">Seyahat Durumu</h5>
                <p class=""><a class="btn btn-primary" routerLink="/tripstate/add">Ekle</a></p>
                <p><a class="btn btn-primary" routerLink="/tripstate/list">Listele</a></p>
            </div>
        </div>   
        <div class="card" style="width: 14rem; border-color: darkorange;">
            <div class="card-body">
                <h5 class="card-title">Otobüs Türü </h5>
                <p class=""><a class="btn btn-primary" routerLink="/bustypes/add">Ekle</a></p>
                <p><a class="btn btn-primary"  routerLink="/bustypes/list" >Listele</a></p>
            </div>
        </div>   
        
    </div>
</div>