<div class="content">
    <div class="card">
        <div class="card-header">
            <h5><a routerLink="/admin">Ana Ekran</a>-----İlçe Ekle</h5>
        </div>
        <div class="card-body">
            <form class="" [formGroup]="townAddForm">
                <div class=" col-md-8 alert">
                    <div class="row mb-3">
                        <div class="col-auto ">
                            <label for="roleName">İl Seçiniz</label>
                            <select class="form-control" id="cityName" formControlName="cityName"
                                    style="width:120px;">
                                    <option>Şehir</option>
                                    <option *ngFor="let city of cities">{{city.cityName}}</option>
                                </select>
                        </div>
                    </div>  
                    <div class="row mb-3">
                        <div class="col-auto ">
                            <label for="roleName">İlçe Adı</label>
                            <div class="form-group"><input type="text" id="townName" formControlName="townName" class="form-control"
                                    placeholder="ilçe Adı" />
                            </div>
                        </div>
                    </div>                    
                    <div class="mx-auto pb-auto" style="width:100px;">
                        <button class="btn btn-fill  btn-primary" (click)="add()">Ekle</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>