<div class="content">
    <div class="col-md-12 mx-auto">    
      <div class="card ">
        <div class="card-header"><h5><a routerLink="/admin">Ana Ekran</a>-----Rol Türleri Listesi</h5></div>
          <div class="listCenter">
           
              <table class="table table-striped " *ngIf="dataLoaded==true">
                  <thead>
                    <tr>
                      <th></th>
                      <th>Rol Türü Adı</th>   
                      <th></th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let operationClaim of operationClaims;let i = index" [attr.data-index]="i">
                      <td>{{i+1}}</td>
                      <td>{{ operationClaim.name }}</td>
                      <td><button type="button" class="btn btn-success" routerLink="/operationClaim/update/{{operationClaim.id}}" >Güncelle</button></td>
                          <td><button type="button" class="btn btn-danger" (click)="delete(operationClaim)">Sil</button></td>
                    </tr>
                  </tbody>
        
                </table>
    
  
              </div>
          </div>
      </div>
  </div>