<div class="content"><div class="content">
    <div class="card">
        <div class="card-header">
            <h5><a routerLink="/admin">Ana Ekran</a>-----Kullanıcı Rol İşlemleri</h5>
        </div>
        <div class="card-body">
            <form class="" [formGroup]="operationClaimUpdateForm" *ngIf="operationClaim">
                <div class=" col-md-8 alert">
                    <div class="row mb-3">
                        <div class="col-auto ">
                            <label for="name">Kullanıcı Rol Tütü Adı</label>
                            <div class="form-group"><input type="text" id="name" formControlName="name" class="form-control"
                                    placeholder="Kullanıcı Rol Türü Adı" />
                            </div>
                        </div>
                    </div>                   
                    <div class="mx-auto pb-auto" style="width:100px;">
                        <button class="btn btn-fill  btn-primary" (click)="update()">Güncelle</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
  
</div>