<div class="content">
    <div class="card">
        <div class="card-header">
            <h5><a routerLink="/admin">Ana Ekran</a>-----Şehir Ekle</h5>
        </div>
        <div class="card-body">
            <form class="" [formGroup]="cityAddForm">
                <div class=" col-md-8 alert">
                    <div class="row mb-3">
                        <div class="col-auto ">
                            <label for="busTypeName">Şehir Adı</label>
                            <div class="form-group"><input type="text" id="cityName" formControlName="cityName" class="form-control"
                                    placeholder="Şehir Adı" />
                            </div>
                        </div>
                    </div>
                    <div class="mx-auto pb-auto" style="width:100px;">
                        <button class="btn btn-fill  btn-primary" (click)="add()">Ekle</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>